#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

html, body, #root {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#root > *:last-child {
  margin-top: auto;
}