@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/gotham_light.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/gotham_book.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/gotham_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/gotham_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-gotham {
    @apply font-gotham tracking-[-0.03em];
  }
}